.filters__search.search
	form.search__form(action="url" method="post")
		.search__container
			label.visually-hidden(for="search-field") heading
			input(type="text" name="search-field" id="search-field" placeholder="Поиск")
			button(type="button")
				svg(width="16" height="16")
					use(xlink:href="img/sprite.svg#search")