section.filters__tags.tags
	p Тэги:
	ul.tags__list
		li.tags__item
			button.tags__button(type="button") Омлет
		li.tags__item
			button.tags__button(type="button") Завтрак
		li.tags__item
			button.tags__button(type="button") Простой
		li.tags__item
			button.tags__button(type="button") Десерт
		li.tags__item
			button.tags__button(type="button") Бекон
		li.tags__item
			button.tags__button(type="button") Тунец
		li.tags__item
			button.tags__button(type="button") Лосось
		li.tags__item
			button.tags__button(type="button") Ребрышки
		li.tags__item
			button.tags__button(type="button") Закуски
		li.tags__item
			button.tags__button(type="button") Салаты
		li.tags__item
			button.tags__button(type="button") Курица
		li.tags__item
			button.tags__button(type="button") Праздничные блюда
		li.tags__item
			button.tags__button(type="button") Итальянская кухня




