-
  var tags = {
    title: 'Тэги:',
    list: [
      'Омлет',
      'Завтрак',
      'Простой',
      'Десерт',
      'Бекон',
      'Тунец',
      'Лосось',
      'Ребрышки',
      'Закуски',
      'Салаты',
      'Курица',
      'Праздничные блюда',
      'Итальянская кухня'
    ]
  };