section.filters__sort.sort
	h2.visually-hidden heading
	p Сортировать по:
	ul.sort__list
		li.sort__item
			button.sort__button(type="button") Популярности
		li.sort__item
			button.sort__button(type="button") Каллорийности
		li.sort__item
			button.sort__button(type="button") Новизне