/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* @media */
$tablet: 768px;
$desktop: 1300px;

/* fonts */
$primary-font: 'Raleway', 'Arial', sans-serif;

$primary-color: #01170a; 
$bg-color: #e5e5e5;
$primary-bg-color: #f7f7fa;
$component-color: #ffffff;
$component-shadow: 0px 5px 30px rgba(29, 29, 32, 0.07);
$component-border-radius: 10px;

$control-background-active: #31B768;
$control-background: #E8E8EB;

$card-link-color: #31B768;

$button-bg-color: #31B768;

$input-border-radius: 5px;
$input-border-color: #01170A;

$button-bg-color: #31B768;
$button-border-radius: 5px;
$button-color: #ffffff;