ul.footer__socials.socials
	li.socials__social.socials__social--pinterest
		a.socials__link(href="#" title="Pinterest")
			svg(width="16" height="16")
				use(xlink:href="img/sprite.svg#pinterest")
	li.socials__social.socials__social--facebook
		a.socials__link(href="#" title="Facebook")
			svg(width="16" height="16")
				use(xlink:href="img/sprite.svg#facebook")
	li.socials__social.socials__social--youtube
		a.socials__link(href="#" title="Youtube")
			svg(width="16" height="12")
				use(xlink:href="img/sprite.svg#youtube")
	li.socials__social.socials__social--instagram
		a.socials__link(href="#" title="Instagram")
			svg(width="16" height="16")
				use(xlink:href="img/sprite.svg#instagram")