section.recipes
	h2.visually-hidden heading
	ul.recipes__list
		li.recipes__item
			article.recipes__recipe.recipe.recipe--large
				h3 Рулетики из бекона
				p
					.
						Ужасно вкусно. Сытно! Просто и супер универсально. Ведь такое блюдо можно подавать не только в будни, но и на праздники. Его можно подавать и как самостоятельное, и как закуску, добавить любой гарнир ...
				picture
					img(src="img/recipes/large/large-1.jpg" srcset="img/recipes/large/large-1@2x.jpg 2x" width="534" height="192" alt="description" title="description")
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 220
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 35 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 150 ккал
		li.recipes__item
			article.recipes__recipe.recipe.recipe--minimal
				h3 Омлет-рулет
				p
					.
						Аппетитный омлет с кабачком и большим количеством ...
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 510
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 10 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 55 ккал
		li.recipes__item
			article.recipes__recipe.recipe.recipe--minimal
				h3 Куриные наггетсы
				p
					.
						Наггетсы из куриной грудки придутся по вкусу всем без ...
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 260
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 20 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 138 ккал
		li.recipes__item
			article.recipes__recipe.recipe.recipe--small
				h3 Стейк из лосося
				p
					.
						Лосось обладает очень нежным, мягким вкусом и восхитителен сам по себе ...
				picture
					img(src="img/recipes/small/image-1.jpg" srcset="img/recipes/small/image-1@2x.jpg 2x" width="252" height="192" alt="description" title="description")
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 195
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 20 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 88 ккал
		li.recipes__item
			article.recipes__recipe.recipe.recipe--large
				h3 Пицца Маргарита
				p
					.
						Традиционное итальянское блюде, известное во всем мире. Ее состав очень простой, но вкус не оставляет равнодушным. Понадобится совсем небольшой перечень ингредиентов, но важно использовать именно те ...
				picture
					img(src="img/recipes/large/large-2.jpg" srcset="img/recipes/large/large-2@2x.jpg 2x" width="534" height="192" alt="description" title="description")
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 220
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 25 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 220 ккал
		li.recipes__item
			article.recipes__recipe.recipe.recipe--small
				h3 Сочные ребрышки
				p
					.
						Этот ароматный сладкий соус-маринад для рёбрышек неотличим от соуса, который ...
				picture
					img(src="img/recipes/small/image-2.jpg" srcset="img/recipes/small/image-2@2x.jpg 2x" width="252" height="192" alt="description" title="description")
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 80
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 60 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 260 ккал
		li.recipes__item
			article.recipes__recipe.recipe.recipe--small
				h3 Салат с тунцом
				p
					.
						Свежий взгляд на популярный рыбный салат с обжаренным тунцом, овощами и зеленью ...
				picture
					img(src="img/recipes/small/image-3.jpg" srcset="img/recipes/small/image-3@2x.jpg 2x" width="252" height="192" alt="description" title="description")
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 412
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 20 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 85 ккал
		li.recipes__item
			article.recipes__recipe.recipe.recipe--minimal
				h3 Салат из фасоли
				p
					.
						Сочный, вкусный и достаточно сытный салат из фасоли и ...
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 132
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 20 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 85 ккал
		li.recipes__item
			article.recipes__recipe.recipe.recipe--minimal
				h3 Сырные кексы
				p
					.
						Отличное дополнение к первым блюдам, к чаю или ...
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 222
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 35 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 147 ккал
		li.recipes__item
			article.recipes__recipe.recipe.recipe--small
				h3 Салат с креветками
				p
					.
						Довольно изысканное блюдо, которое часто подают в ресторанах, готовится очень ...
				picture
					img(src="img/recipes/small/image-4.jpg" srcset="img/recipes/small/image-4@2x.jpg 2x" width="252" height="192" alt="description" title="description")
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 640
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 15 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 105 ккал
		li.recipes__item
			article.recipes__recipe.recipe.recipe--large
				h3 Тосты с авокадо и шпинатом
				p
					.
						Быстрый и очень полезный завтрак с высоким содержанием насыщенных жиров и клетчатки. Для тоста рекомендуем выбирать цельнозерновой хлеб, а авокадо сорта Хаас. Можно добавить другие...
				picture
					img(src="img/recipes/large/large-3.jpg" srcset="img/recipes/large/large-3@2x.jpg 2x" width="534" height="192" alt="description" title="description")
				ul.recipe__additional-list.additional-list
					li.additional-list__item
						svg(width="16" height="14")
							use(xlink:href="img/sprite.svg#heart")
						span 750
					li.additional-list__item
						svg(width="15" height="16")
							use(xlink:href="img/sprite.svg#timer")
						span 5 мин
					li.additional-list__item
						svg(width="11" height="16")
							use(xlink:href="img/sprite.svg#energy")
						span 170 ккал
