-
	var data = {
		list: [
			{
				enterText: 'Вход &nbsp;/',
				enterAnchor: '#enter',
				registrationText: '&nbsp;Регистрация',
				registrationAnchor: '#registration'
			},
			{
				info: true,
				text: 'О проекте'
			}
		]
	};