include navigation-list-data

mixin navigation-list(navigation = [])
  ul.navigation__list.navigation-list
    each element in navigation
      li.navigation__item
        a.navigation__link(href= element.anchor)= element.value