ul.navigation__lateral.lateral
	li.lateral__item
		svg(width="16" height="18")
			use(xlink:href="img/sprite.svg#user")
		a.lateral__link(href="#enter.html") Вход &nbsp;
		| /
		a.lateral__link(href="#registration") &nbsp;Регистрация
	li.lateral__item.lateral__item--info
		a.lateral__link
			svg(width="18" height="18")
				use(xlink:href="img/sprite.svg#info")
			| О проекте