ul.navigation__list.navigation-list
	li.navigation__item
		a.navigation__link(href="#") Горячее
	li.navigation__item
		a.navigation__link(href="#") Завтраки
	li.navigation__item
		a.navigation__link(href="#") Салаты
	li.navigation__item
		a.navigation__link(href="#") Закуски
	li.navigation__item
		a.navigation__link(href="#") Десерты
	li.navigation__item
		a.navigation__link(href="#") Напитки
	li.navigation__item
		a.navigation__link(href="#") Статьи