-
  var navigation = [
    {
      value: 'Горячее',
      anchor: '#hot-food'
    },
    {
      value: 'Завтраки',
      anchor: '#breakfasts'
    },
    {
      value: 'Салаты',
      anchor: '#salads'
    },
    {
      value: 'Закуски',
      anchor: '#snacks'
    },
    {
      value: 'Десерты',
      anchor: '#desserts'
    },
    {
      value: 'Напитки',
      anchor: '#potables'
    },
    {
      value: 'Статьи',
      anchor: '#articles'
    },
  ];