extends ../layout/layout
block content
  include ../modules/navigation/navigation
  include ../modules/slider/slider
  include ../modules/filters/filters
  include ../modules/aside/aside
  main
    include ../modules/recipes/recipes
  include ../modules/load
  include ../modules/footer/footer
