extends ../layout/layout

//- mixins
include ../utils/icon
include ../utils/picture
include ../mixins/navigation-logo
include ../mixins/navigation-lateral
include ../mixins/slide
include ../mixins/slider-control
include ../mixins/filters-tags
include ../mixins/filters-sort
include ../mixins/filters-search
include ../mixins/additional-list

block variables
  - var title = 'allFood';
  - var pageClass = 'main-content';

block content
  include ../modules/navigation/navigation
  include ../modules/slider/slider
  include ../modules/filters/filters
  include ../modules/aside/aside
  main(class=pageClass)
    include ../modules/recipes/recipes
  include ../modules/load
  include ../modules/footer/footer
  //- include ../modules/load
  //- include ../modules/footer/footer
