doctype html
html(lang="ru-RU")
  head
    title Карта сайта | Description
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Some content")
    link(rel="stylesheet" href="css/styles.css")
    link(rel="preload" href="fonts/raleway/400.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="fonts/raleway/500.woff2" as="font" type="font/woff2" crossorigin)
  body.sitemap
    section.map
      .map__wrapper
        ul.map__list
          li.map__item
            a.map__link(href="index.html" title="Главная страница") Главная страница - index.html