include aside-list-data

ul.aside__list
  each card in cards
    li.aside__item
      article.aside__card.card(class=( card.mini ? 'card--mini' : card.bigger ? 'card--bigger' : card.subscribe ? 'card--description' : '' ))
        h3 !{card.heading}
        if card.mini
          +picture('aside', 'image-1', 'jpg', '252', '152', 'description', 'description')
        else if card.bigger
          +picture('aside', 'image-2', 'jpg', '232', '165', 'description', 'description')
        else
          +picture('aside', 'image-3', 'jpg', '232', '252', 'description', 'description')
          form
            each item in card.field
              label.visually-hidden(for= item.label.relation)= item.label.label
              input#email-field(type= item.input.type, name= item.input.name, placeholder= item.input.placeholder, required= item.input.required)
            button.card__button.button(type="submit")= card.subscription

        if !card.mini
          p= card.text

        if !card.subscribe
          a(href= card.anchor) Подробнее






