-
  var cards = [
    {
      heading: 'Детокс-курс на неделю',
      anchor: '#more',
      mini: true,
    },
    {
      heading: 'Праздничное меню',
      text: 'Полное меню на любой праздник: горячее, салаты, закуски и дессерт',
      anchor: '#more',
      bigger: true,
    },
    {
      heading: 'Попишитесь на&nbsp;нашу&nbsp;рассылку',
      text: 'Новые рецепты, сборники, советы и подробки блюд специально для вас!',
      field: [
        {
          label: {
            label: 'Введите вашу почту',
            relation: 'email-field'
          },
          input: {
            type: 'text',
            name: 'email-field',
            placeholder: 'Ваша почта',
            required: true
          } 
        }
      ],
      subscription: 'Подписаться',
      subscribe: true
    }
  ];






