$input-border-radius: 5px;
$input-border-color: #01170A;

$button-bg-color: #31B768;
$button-border-radius: 5px;
$button-color: #ffffff;

.description {
	form {
		width: 100%;
		order: 5;

		display: grid;
		grid-template-rows: auto;
		gap: 15px;
	}

	input {
		font-size: 12px;
		line-height: 14px;
		padding: 11px;
		border: 1px solid $input-border-color;
		border-radius: $input-border-radius;

		&::placeholder {
			color: #01170A;
			opacity: 0.3;
		}
	}

	button {
		font-size: 12px;
		line-height: 14px;
		padding: 11px;
		border: none;
		border-radius: $button-border-radius;
		background-color: $button-bg-color;
		color: $button-color;
		cursor: pointer;
	}
}