-
	var slider = {
		title: 'Слайдер',
		slides: [
			{
				title: 'Топ продуктов во время пандемии - где взять витамины C, D и цинк',
				description: 'В этом году нам досталось настоящее испытание в виде пандемии, и, кажется, обычный чай тут уже не поможет.',
				active: true
			},
			{
				title: 'Топ продуктов во время пандемии - где взять витамины C, D и цинк',
				description: 'В этом году нам досталось настоящее испытание в виде пандемии, и, кажется, обычный чай тут уже не поможет.',
				active: false
			},
			{
				title: 'Топ продуктов во время пандемии - где взять витамины C, D и цинк',
				description: 'В этом году нам досталось настоящее испытание в виде пандемии, и, кажется, обычный чай тут уже не поможет.',
				active: false
			},
			{
				title: 'Топ продуктов во время пандемии - где взять витамины C, D и цинк',
				description: 'В этом году нам досталось настоящее испытание в виде пандемии, и, кажется, обычный чай тут уже не поможет.',
				active: false
			},
			{
				title: 'Топ продуктов во время пандемии - где взять витамины C, D и цинк',
				description: 'В этом году нам досталось настоящее испытание в виде пандемии, и, кажется, обычный чай тут уже не поможет.',
				active: false
			},
			{
				title: 'Топ продуктов во время пандемии - где взять витамины C, D и цинк',
				description: 'В этом году нам досталось настоящее испытание в виде пандемии, и, кажется, обычный чай тут уже не поможет.',
				active: false
			},
			{
				title: 'Топ продуктов во время пандемии - где взять витамины C, D и цинк',
				description: 'В этом году нам досталось настоящее испытание в виде пандемии, и, кажется, обычный чай тут уже не поможет.',
				active: false
			},
			{
				title: 'Топ продуктов во время пандемии - где взять витамины C, D и цинк',
				description: 'В этом году нам досталось настоящее испытание в виде пандемии, и, кажется, обычный чай тут уже не поможет.',
				active: false
			}
		]
	};