ul.slider__controls.controls
	li.controls__item.controls__item--current
		button.controls__button(type="button" aria-label="Active slide")
	li.controls__item
		button.controls__button(type="button")
	li.controls__item
		button.controls__button(type="button")
	li.controls__item
		button.controls__button(type="button")
	li.controls__item
		button.controls__button(type="button")