section.slider
	h2.visually-hidden heading
	ul.slider__list
		li.slider__item
			picture
				img(src=`${imgSliderPath}slider-item-1.jpg` srcset=`${imgSliderPath}slider-item-1@2x.jpg 2x` width="1098" height="404" alt="description" title="description")
			.slider__content
				h2 Топ продуктов во время пандемии - где взять витамины C, D и цинк
				p
					.
						В этом году нам досталось настоящее испытание в виде пандемии, и, кажется, обычный чай тут уже не поможет.
	include slider-controls